*{
    border: 1px red solid;
    box-sizing: border-box;
    font-family: monospace;
    text-transform: uppercase;
}
body{
    display: flex;
    justify-content: center;
}
main{
    display: grid;
    grid-template-rows: repeat(5,100px);
    .row{
        display: grid;
        grid-template-columns: repeat(5,100px);
    }
    .cell{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 64px;
        input{
            font-size: 64px;
            width: 100%;
            height: 100%;
            border: none;
            text-align: center;
        }
        input:focus{
            outline: none;
        }
        
    }
}